
{% for guitar in liste %}
    
        <div class="page-product">
                    <div class="page-product__left-container">
                        <img src="{{guitar.pict}}" alt="{{guitar.name}}" class="page-product__left-container__main-image">
                        <div class="page-product__left-container__images-container">
                            <img src="{{asset('images/Guitar2.png')}}" alt="image-guitare" class="page-product__left-container__image-selection">
                            <img src="{{asset('images/Guitar3.png')}}" alt="image-guitare" class="page-product__left-container__image-selection">
                            <img src="{{asset('images/Guitar4.png')}}" alt="image-guitare" class="page-product__left-container__image-selection">
                            <img src="{{asset('images/Guitar5.png')}}" alt="image-guitare" class="page-product__left-container__image-selection">
                        </div>
                    </div>
                <div class="page-product__right-container">
                            <img src="{{asset('images/gamme.png')}}" alt="logo-marque" class="page-product__right-container__gamme">
                            <h3 class="page-product__right-container__name">{{guitar.name}}</h3>
                    <div class="page-product__right-container__colors-container">
                        <img src="{{asset('images/couleur.png')}}" alt="" class="page-product__right-container__color">
                        <img src="{{asset('images/couleur.png')}}" alt="" class="page-product__right-container__color">
                    </div>
                        <p class="page-product__right-container__name-color">{{guitar.couleur}}</p>
                        <p class="page-product__right-container__ref">{{guitar.reference}} </p>
                    <div class="star-container">
                        <svg width="32" height="29" viewBox="0 0 32 29" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path class="star" d="M16 0L19.5922 11.0557H31.2169L21.8123 17.8885L25.4046 28.9443L16 22.1115L6.59544 28.9443L10.1877 17.8885L0.783095 11.0557H12.4078L16 0Z" fill="#D9D9D9"/>
                        </svg>
                        <svg width="32" height="29" viewBox="0 0 32 29" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path class="star" d="M16 0L19.5922 11.0557H31.2169L21.8123 17.8885L25.4046 28.9443L16 22.1115L6.59544 28.9443L10.1877 17.8885L0.783095 11.0557H12.4078L16 0Z" fill="#D9D9D9"/>
                        </svg>
                        <svg width="32" height="29" viewBox="0 0 32 29" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path class="star" d="M16 0L19.5922 11.0557H31.2169L21.8123 17.8885L25.4046 28.9443L16 22.1115L6.59544 28.9443L10.1877 17.8885L0.783095 11.0557H12.4078L16 0Z" fill="#D9D9D9"/>
                        </svg>
                        <svg width="32" height="29" viewBox="0 0 32 29" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path class="star" d="M16 0L19.5922 11.0557H31.2169L21.8123 17.8885L25.4046 28.9443L16 22.1115L6.59544 28.9443L10.1877 17.8885L0.783095 11.0557H12.4078L16 0Z" fill="#D9D9D9"/>
                        </svg>
                        <svg width="32" height="29" viewBox="0 0 32 29" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path class="star" d="M16 0L19.5922 11.0557H31.2169L21.8123 17.8885L25.4046 28.9443L16 22.1115L6.59544 28.9443L10.1877 17.8885L0.783095 11.0557H12.4078L16 0Z" fill="#D9D9D9"/>
                        </svg>                        
                    </div>
                        <p class="page-product__right-container__price"><span>{{guitar.price}}</span>{{guitar.price}} </p>
                    <div class="page-product__right-container__button-container">
                        <button class="btn-white"><a href="#spec">Spec</a></button>
                        <button class="btn-white" ><a href="/Disponiblité">Voir la disponibilité</a></button> 
                        <form action="">
                            <label id="name-label" for="#name" class="visibility">Nom</label>
                            <label id="color-label" for="#color" class="visibility">Color</label>
                            <label id="ref-label" for="#ref" class="visibility">Référence</label>
                            <submit class="btn-blue">Ajouter au panier</submit>
                        </form>
                    </div>
                </div>
            </div>
    {% endfor %}
        <div class="spec__hr" id="spec">
                <hr><img src="{{asset('images/spec.png')}}" alt="logo-spec"><h2 class="spec__title">Spec</h2><hr>
            </div>
            <div class="spec-container">
    
        {% for spec in specs %}
            <div class="spec">
                <img src="{{asset('images/specs-neck.png')}}" alt="logo-spec" class="spec__logo">
                <p class="spec__name">Neck</p>
            </div>
            
                <div class="spec">
                    <img src="{{asset('images/specs-body.png')}}" alt="logo-spec" class="spec__logo">
                <p class="spec__name">Body</p>
                <ul>
                            <li class="spec__options-container">
                            <p class="spec__options-container__model">Material Name</p>
                            <p class="spec__options-container__name">{{spec.mC}} {{spec.mat}}</p>
                        </li>
                        <li class="spec__options-container">
                            <p class="spec__options-container__model">Construction</p>
                            <p class="spec__options-container__name">{{spec.const}}</p>
                        </li>
                        <li class="spec__options-container">
                            <p class="spec__options-container__model">Control Name</p>
                            <p class="spec__options-container__name">{{spec.ctrl}}</p>
                        </li>
                        <li class="spec__options-container">
                            <p class="spec__options-container__model">Control Number</p>
                            <p class="spec__options-container__name">{{spec.nbrCtrl}}</p>
                        </li>
                        <li class="spec__options-container">
                            <p class="spec__options-container__model">Tuner Name</p>
                            <p class="spec__options-container__name">{{spec.tun}}</p>
                        </li>
                </ul>
                </div>
                <div class="spec">
                    <img src="{{asset('images/specs-general.png')}}" alt="logo-spec" class="spec__logo">
                    <p class="spec__name">General</p>
                    <li class="spec__options-container">
                            <p class="spec__options-container__model">Model Name</p>
                            <p class="spec__options-container__name"></p>
                        </li>
                </div>
                <div class="spec">
                    <img src="{{asset('images/specs-accessories.png')}}" alt="logo-spec" class="spec__logo">
                    <p class="spec__name">Accesories</p>
                    <ul >
                        <li class="spec__options-container">
                            <p class="spec__options-container__model">Micro Name</p>
                            <p class="spec__options-container__name">{{spec.mic}}</p>
                        </li>
                        <li class="spec__options-container">
                            <p class="spec__options-container__model">Frette</p>
                            <p class="spec__options-container__name">{{spec.frette}}</p>
                        </li>
                        <li class="spec__options-container">
                            <p class="spec__options-container__model">Model Name</p>
                            <p class="spec__options-container__name">Name</p>
                        </li>
                    </ul>
                </div>
{% endfor %}
       
            
        </div>
        <div class="card-more__container">
            {% block more %}
                {{include(more)}}
            {% endblock %}
        </div>
        
    </body>
</html>
